 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolio{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                                <div id="{{ post.imgdir }}-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">{% for image in post.images %}{% if forloop.first %}
                                    <li data-target="#{{ post.imgdir }}-carousel" data-slide-to="{{ forloop.index0 }}" class="active"></li>{% else %}
                                    <li data-target="#{{ post.imgdir }}-carousel" data-slide-to="{{ forloop.index0 }}"></li>{% endif %}{% endfor %}
                                </ol>

                                <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        {% for image in post.images %}{% if forloop.first %}<div class="item active">
                                            <img src="img/portfolio/{{ post.imgdir }}/{{ image.image }}" alt="{{ image.alt }}">
                                            {% if image.heading or image.description %}<div class="carousel-caption">
                                                 {% if image.heading %}<h3>{{ image.heading }}</h3>{% endif %}
                                                 {% if image.description %}<p>{{ image.description }}</p>{% endif %}
                                            </div>{% endif %}
                                        </div>
                                        {% else %}<div class="item">
                                            <img src="img/portfolio/{{ post.imgdir }}/{{ image.image }}" alt="{{ image.alt }}">
                                            {% if image.heading or image.description %}<div class="carousel-caption">
                                                 {% if image.heading %}<h3>{{ image.heading }}</h3>{% endif %}
                                                 {% if image.description %}<p>{{ image.description }}</p>{% endif %}
                                            </div>{% endif %}
                                        </div>{% endif %}{% endfor %}
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#{{ post.imgdir }}-carousel" role="button" data-slide="prev">
                                        <span class="fa fa-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#{{ post.imgdir }}-carousel" role="button" data-slide="next">
                                        <span class="fa fa-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                               </div>
                           <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
